*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #4b3838;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    overflow: hidden;
}

h1{
    font-weight: 300;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    .guardian{
        font-weight: bolder;
        color: #ff8c00;
        &::after{
            content: '🔥';
        }
    }
    .safe{
        color: #00ff00;
        font-weight: 500;
        font-size: 1.9rem;
        &::after{
            content: '👍';
        }
    }
}

.video-container {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;


    .bg-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px);
      outline: none;
      z-index: 0;
    }
  
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(148, 82, 82, 0.5); /* Couleur semi-transparente */
      z-index: 1; /* Place l'overlay au-dessus de la vidéo */
      pointer-events: none; /* Permet de cliquer à travers l'overlay */
    }
}


form{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;

    label{
        color:white;
        font-size: 30px;
        font-weight: bold;
    }
    input {
        position: relative;
            z-index: 2;
            border: none;
            border-radius: 25px;
            width: 50%;
            padding: 15px 20px;
            font-size: 1.2rem;
            outline: none;
            
            opacity: 0.5;
            transition: all 0.3s;
        
        &:focus{
            opacity: 1;
        }
        &::placeholder{
            color: #f28b05;
        }
        &:hover{
            opacity: 1;
        }
    }
}
button{
    padding: 15px;
    color:rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
    background-color:rgb(204, 94, 54);
    opacity: 0.9;
    border-radius:20px;
    border:none;
    font-size: 30px;
    cursor: pointer;
}

.alert { 
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}
  